@import '../../scss/abstracts/_abstracts-dir';

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  &_right {
    text-align: right;
  }
  &_left {
    text-align: left;
  }

  &_links {
    display: flex;
    margin: 2%;
    //justify-content: center;
  }

  &_social {
    margin: 0 5%;

    &:hover {
      filter: drop-shadow(2px 2px 2px $navy);
    }
  }
}

.text_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  height: 30%;
  background-color: $lightBlue;
  padding: 5%;
  text-align: left;
  border-radius: 5px;
  z-index: 1;
  &_right {
    transform: translateX(-70px);
  }
}
