@import '../../scss/abstracts/_abstracts-dir';

.description {
  @include flex(center,normal,column);
  //width: 50%;
  &_right {
    text-align: right;
  }
  &_left {
    text-align: left;
  }

  &_links {
    display: flex;
    margin: 2%;
  }

  &_social {
    margin: 0 5%;

    &:hover {
      filter: drop-shadow(2px 2px 2px $navy);
    }
  }
}

.text_block {
  @include flex(center,center,row);
  width: 120%;
  height: 30%;
  background-color: $lightBlue;
  padding: 5%;
  text-align: left;
  border-radius: 5px;
  z-index: 1;
  &_right {
    transform: translateX(-70px);
  }
}

@media (max-width: 1199.98px) {
  .description {
  }

  .text_block {
    width: 170%;
    height: 20%;
    transform: translateX(-140px);
  }
}

@media (max-width: 900px) {
  .description {
    order: 1;
  }

  .text_block {
    width: 60%;
    height: 20%;
    transform: translateX(0);
  }
}
