@import '../../scss/abstracts/_abstracts-dir';

.loader {
  animation: shadow 6s infinite;

  @keyframes shadow {
    0%,
    90% {
      filter: drop-shadow(1px 1px 1px $navy) saturate(100%);
      transform: scale(0.1);
    }

    50% {
      filter: drop-shadow(10px 10px 20px $navy) saturate(500%);
      transform: scale(1);
    }

    100% {
      opacity: 0;
    }
  }
  &_position {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
