@import '../../scss/abstracts/_abstracts-dir';

.loader {
  animation: shadow 5s infinite;

  @keyframes shadow {
    0%,
    100% {
      filter: drop-shadow(1px 1px 1px $navy) saturate(100%);
      transform: scale(0.8);
    }

    50% {
      filter: drop-shadow(10px 10px 20px $navy) saturate(500%);
      transform: scale(1);
    }
  }
}
