@import '../../scss/abstracts/_abstracts-dir';

.text {
  line-height: 30px;

  &_regular {
    font-weight: normal;
  }

  &_medium {
    font-weight: 600;
  }

  &_bold {
    font-weight: 700;
  }

  &_fontSF {
    font-family: 'SF', serif;
  }

  &_fontCalibre {
    font-family: 'Calibre', serif;
  }

  &_extra-lg {
    font-size: size(80);
  }

  &_lg {
    font-size: size(48);
  }

  &_md {
    font-size: size(26);
  }

  &_sm {
    font-size: size(18);
  }

  &_extra-sm {
    font-size: size(14);
  }

  &_grey {
    color: $grey;
  }

  &_navy {
    color: $navy;
  }

  &_white {
    color: $white;
  }

  &_defaultColor {
    color: $fontColor;
  }
}

.margin {
  margin: 100px;
}

@media (max-width: 1199.98px) {
  .text {
    &_extra-lg {
      font-size: size(70);
      line-height: 48px;
    }

    &_lg {
      font-size: size(40);
      line-height: 45px;
    }

    &_md {
      font-size: size(26);
    }

    &_sm {
      font-size: size(16);
      line-height: 20px;
    }

    &_extra-sm {
      font-size: size(12);
    }
  }
}

@media (max-width: 800px) {
  .text {
    &_extra-lg {
      font-size: size(70);
      line-height: 48px;
    }

    &_lg {
      font-size: size(36);
      line-height: 45px;
    }

    &_md {
      font-size: size(22);
    }

    &_sm {
      font-size: size(14);
      line-height: 20px;
    }

    &_extra-sm {
      font-size: size(12);
    }
  }
}
