@import "variables";


@mixin media($size) {
  @media all and (max-width: $size) {
    @content
  }
}


@mixin font-face($font-family, $file-path, $weight: normal) {
  @font-face {
    font-family: $font-family;
    src: url($file-path);
    font-weight: $weight;
  }
}


@mixin flex($justifyContent, $alignItem: center, $flexDirection: row ) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItem;
  flex-direction: $flexDirection;
}

//Function to convert px value into rem
@function size($target, $context: $defaultFontSize) {
  @return ($target / $context) * 1em;
}

@mixin animation() {
  animation: appear 5s;

  @keyframes appear {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    50% {
      transform: scale(1);
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}