//Variables

$defaultFontSize: 16;

//Colors
$bgColor: #0a192f;
$fontColor: #ccd6f6;
$grey: #8892b0;
$navy: #8bf5e3;
$white: #fff;
$lightBlue: #172a45;

$transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
