@import "scss/abstracts/_abstracts-dir";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $defaultFontSize;
}

body {
  margin: 0;
  font-family: 'SF','Calibre', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $bgColor;
  color: $fontColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
