@import '../../scss/abstracts/_abstracts-dir';

.portfolio {
  padding: 5% 10%;

  @include animation;

  &_project {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
  }

  &_img {
    margin-top: 3%;
    width: 100%;
    max-width: 1000px;
    height: 574px;
    object-fit: scale-down;
    object-position: center;
    border-radius: 5px;
    filter: grayscale(45%) contrast(1);
    cursor: pointer;
    //border: 1px solid $navy;
    transition: $transition;

    &:hover {
      filter: drop-shadow(3px 3px 3px $navy);
      transform: scale(1.01);
      transition: $transition;
    }
  }
}

@media (max-width: 1199.98px) {
  .portfolio {
    padding: 5% 1%;
    &_img {
      margin-top: 0;
      width: calc(100% - 200px);
      height: 574px;
    }
  }
}

@media (max-width: 900px) {
  .portfolio {
    padding: 2% 1%;

    &_project {
      flex-direction: column;
    }
    &_img {
      margin-top: 0;
      width: calc(100% - 200px);
      height: 574px;
      order: 2;
    }
  }
}
